<table>
    <tr valign="top">
        <td> 
            <a href="{{ url_for('user', username=user.username) }}">{{ user.username }}</a>
        </td>
        <td>
            {% if not current_user.is_following(user) %}     
                <form action="{{ url_for('follow', username=user.username) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value='Follow') }}
                </form>       
            {% else %}
                <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value='Unfollow') }}
                </form>
            {% endif %}
        </td>
    </tr>
</table>